<html>
	<head>
		<title>Hello Facebook</title>
	</head>
	<body>
		<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>
		
		<div th:each="reference:${friendList}">
			<b th:text="${reference.id}">from</b> wrote:
			<hr/>
		</div>
		<form method="POST" action="/message" >
        	<p>Post to your Facebook wall:</p>
        	<textarea id="message" name="message" rows="2" cols="60"></textarea><br/>
        	<input type="submit" value="Post" />
        </form>	
        
            <div id="border" style="width:730px" >e
		    <ul th:each="album:${albums}">
		        a<li><a th:href="${album.id}" th:value="${album.name}">cc</a></li>
		    </ul>
		  	</div>
		<h4>Here is your feed:</h4>
		
		<div th:each="post:${feed}">
			<b th:text="${post.from.name}">from</b> wrote:
			<p th:text="${post.message}">message text</p>
			<img th:if="${post.picture}" th:src="${post.picture}"/>
			<hr/>
		</div>
	</body>
</html>